body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}


h2{
    margin: 10px;
}

#emojiDisplay {
    font-size: 48px;
    margin: 20px;
}

button {
    margin: 15px;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(111, 103, 103);
}

button:hover {
    background-color: rgb(134, 122, 122);
}

button:active {
    background-color: rgb(177, 163, 163);
}

* {
    background-color: rgb(56, 52, 52);
}