body {
    font-family: Arial,  sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 16px;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 32px;
}

.product {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px  rgba(0, 0, 0, 01);
    display: inline-block;
    width: 30%;
}

.product h3 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 16px;
    background-color: #333;
    color: white;
}

footer a {
    color: rgb(255, 226, 226);
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover{
    background-color: #555;
}

button:active{
    background-color: #696868;
}

.review {
    margin: 10px 0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
}




