* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}


header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #0056b3;
}

.main {
    flex: 1; 
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 20px;
    overflow: hidden; 
}

.section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.section p {
    font-size: 1.1em;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image-container img {
    width: 48%; 
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    flex-shrink: 0;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

button {
    border-radius: 8px;
    padding: 5px;
    border-color: black;
    text-decoration: none;
    background-color: rgb(57, 214, 57);
}

button:hover {
    background-color: rgb(69, 246, 69);
}

button:active {
    background-color: rgb(69, 246, 80);
}

img:hover {
    transform: scale(1.05);
    cursor: pointer;
}